dist: focal
language: python
script:
  - echo "dependency installation"
install:
  - skip

deploy: 
  provider: elasticbeanstalk
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  region: "us-east-2"
  app: "ebdjango"
  env: "ebdjango-dev"
  bucket_name: "elasticbeanstalk-us-east-2-985539800244"
  on:
    branch: main

before_deploy:
  - echo "Configuring AWS credentials"
  - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
  - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
  - aws configure set default.region us-east-2
  - echo "AWS CLI Configuration"
  - aws sts get-caller-identity

